APP_VERSION=1.0.1
APP_PORT=8100

MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_SERVER=localhost
MYSQL_PORT=3306
MYSQL_DB=gov_automation

GOOGLE_TOKEN_BASE64=
GOOGLE_DRIVE_HKD=

WEBHOOK_SECRET_KEY=
CRM_WORKSPACE=
CRM_TABLE_HKD=

CLOUDFLARE_TUNNEL_TOKEN=
